* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    color: #212121;
}

/* Global */

.container {
    display: block;
    max-width: 100%;
    width: 1180px;
    margin: auto;
}

.section__wrapper {
    padding: 125px 0;
}

.section__title {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.section__subtitle {
    display: block;
    margin: 35px auto 0;
    max-width: 635px;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
}

.section__content {
    margin-top: 120px;
}

.button {
    border: 2px solid #fff;
    font-size: 20px;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
}

/* Global end */

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 120px;
    background-color: #fff;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
}

.header__menu {
    display: flex;
    align-items: center;

}

.nav {
    margin-right: 28px;
}

.nav__list {
    display: flex;
    padding: 0;
    font-size: 20px;
    font-weight: 500;
}

.nav-list__item {
    margin-right: 45px;
    list-style: none;
}

.nav-list__item:last-child {
    margin: 0;
}

.nav-list__item:hover {
    border-bottom: 2px solid #000;
}

.nav-list__link {
    color: #000;
    text-decoration: none;
}

.header__search {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("/image/icons/header/search.svg");
    background-color: #fff;
    background-position: center;
    background-size: contain;
    border: 0;
    outline: 0;
}

/* Main-banner */

.main-banner__wrapper {
    background: url("/image/img/our_services/main-banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 650px;
    color: #fff;
}

.main-banner__title {
    margin: 0;
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 8px;
}

.main-banner__subtitle {
    margin-top: 35px;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: normal;
}

.main-banner__buttons {
    margin-top: 100px;
}

.main-banner__button {
    display: inline-block;
    border: 3px solid #fff;
    padding: 25px 0;
    width: 220px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    transition: .1s ease-in-out;
}

.main-banner__button:hover {
    background-color: #00897b;
}

.main-banner__button:first-child {
    margin-right: 25px;
}

.main-banner__button-o {
    background-color: #00897b;
    border: 3px solid #00897b;
}

.main-banner__button-o:hover {
    background-color: transparent;
    border: 3px solid #fff;
}

/* About */

.about__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-card {
    width: 265px;
    text-align: center;
}

.about-card__img {
    max-width: 65px;
    max-height: 65px;
}

.about-card__title {
    margin: 25px 0 0;
    font-size: 20px;
    font-weight: 500;
}

.about-card__content {
    margin: 20px 0 0;
    font-size: 15px;
    line-height: 1.4;
}

/* Services */

.services__wrapper {
    background-color: #e4fdf9;
}

.services__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-card {
    width: 370px;
    text-align: center;
    background-color: #fff;
    padding: 50px;
    transition: background-color 0.3 ease-in;
    margin-bottom: 35px;
}

.services-card:hover {
    background-color: #00897b;
    color: #fff;
    box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.75);
} 

.services-card__img {
    background-image: url("/image/icons/our_services/mobilephone.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 55px;
    margin: auto;
    width: 56px;
    height: 62px;
}

.services-card__title {
    margin: 30px 0 0;
    font-size: 20px;
    font-weight: 500;
}

.services-card__content {
    font-size: 15px;
    line-height: 1.4;
    margin: 20px 0 0;
}

.services__button {
    border: 2px solid #212121;
    padding: 10px 8px;
    margin: 30px 0 0;
}

.services__card:hover .services__button {
    border: 2px solid #fff;
    color: #fff;
}

/* Latest Works*/

.works__buttons {
    display: flex;
    justify-content: center;
}

.works__button {
    width: 180px;
    border: 2px solid #00897b;
    margin: 0 20px 0 0;
    padding: 18px 0;
}

.works__button:last-child {
    margin-right: 0;
}

.works__button:first-child {
    width: 100px;
}

.works__button.active,
.works__button:hover {
    color: #fff;
    background-color: #00897b;
}

.works-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-card {
    position: relative;
    width: 370px;
    height: 370px;
    margin: 10px;
}

.works-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.works-card__hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
    opacity: 0;

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0,0,0,.3);
}

.works-card:hover .works-card__hover {
    opacity: 1;
}


.works-button__more {
    display: block;
    padding: 27px 65px;
    margin: 120px auto 0;
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #fff;
    font-weight: 700;
    transition: .3s linear;
}

.works-button__more:hover {
    background-color: transparent;
    color: #000;
}

/* Pricing Plan */

.pricing__wrapper {
    background-color: #f1f1f1;
}

.pricing-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing-card {
    width: 370px;
}

.pricing-card__header {
    padding: 45px 0;
    text-align: center;
    background-color: #3949ab;
    color: #fff;
}

.pricing-card__title {
    margin: 0;
    font-size: 25px;
}

.pricing-card__text {
    margin: 35px 0 0;
    font-size: 17px;
}

.pricing-card__text sup {
    font-size: 25px;
}

.pricing-card__text span {
    font-size: 50px;
}

.pricing-card__content {
    background-color: #fff;
    padding: 50px 0;
}

.pricing-card__list {
    max-width: 180px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

.pricing-card-list__item {
    padding-bottom: 14px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 300;
    border-bottom: 1px solid #bfbfbf;;
}

.pricing-card__button {
    display: block;
    padding: 15px 30px;
    margin: 0 auto;
    border: 2px solid #000;
    transition: .3s linear;
}

.pricing-card__button:hover {
    background-color: #00897b;
    border: 2px solid #00897b;
    color: #fff;
}

.pricing-card.highlite {
    box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.59);
}

.highlite-btn {
    border: 2px solid #00897b;
    background-color: #00897b;
    color: #fff;
}

.highlite-btn:hover {
    background-color: transparent;
    color: #000;
}

/* Our Team Member */

.team-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-card {
    width: 370px;
    height: 485px;
    text-align: center;
}

.team-card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 15px;
}

.team-card__name {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

.team-card__position {
    font-size: 15px;
    margin: 15px 0 0;
}

.team-card__links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.team-card__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #f0f1f1;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s linear background-color;
}

.team-card__link svg {
    max-height: 28px;
}

.team-card__link:hover {
    background-color: #3949ab;
}

.team-card__link svg path {
    transition: .2s linear fill;
}

.team-card__link:hover svg path{
    fill: #fff;
}

.team-card__bullets {
    display: flex;
    justify-content: center;
    margin: 120px 0 0 ;
}

.team-card__bullet {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00897b;
    cursor: pointer;
}

.team-card__bullet:last-child {
    margin: 0;
}

.team-card__bullet.active {
    background-color: #3949ab;
}

/* Blog */

.blog__wrapper {
    background-color: #e4fdf9;
}

.blog-item {
    display: flex;
    align-items: center;
}

.blog-item:nth-child(even) {
    flex-direction: row-reverse;
}

.blog-item:nth-child(even) .blog-content {
    margin: 0 40px 0 0;
}

.blog-img {
    width: 570px;
    height: 400px;
    object-fit: cover;
}

.blog-content {
    flex-grow: 1;
    margin-left: 40px;
}


.blog-content__title {
    font-size: 25px;
    font-weight: 600;
    margin: 0;
    line-height: 22px;
}

.blog-item:hover .blog-content__title {
    color: #00897b;
    cursor: pointer;
}

.blog-content__icons {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.blog-content__date {
    display: flex;
    margin-right: 40px;
    font-size: 17px;
    font-weight: 600;
}

.blog-content__date::before {
    content: "";
    background: url("/image/icons/blog/calendar.png") no-repeat;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.blog-content__text {
    max-width: 450px;
    margin: 25px 0 0;
    font-size: 15px;
    line-height: 22px;
}

.blog-content__file {
    display: flex;
    font-size: 17px;
    font-weight: 600;
}

.blog-content__file::before {
    content: "";
    background: url("/image/icons/blog/file.png") no-repeat;
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.button-blog {
    margin: 0 auto;
}

/* Contact */

.contact__wrapper {
    background: url("/image/img/contact_us/bg-contact.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.contact__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.contact-card {
    width: 265px;
    text-align: center;
}

.contact-card a {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.contact-card__img {
    max-width: 65px;
    max-height: 65px;
}

.contact-card__content {
    margin: 20px 0 0;
    font-size: 20px;
    line-height: 1.4;
}

.form-submit {
    margin-top: 80px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 1030px;
    margin: 0 auto;
}

.input {
    padding: 35px;
    width: 48%;
    border-radius: 15px;
    outline: none;
}

.input::placeholder {
    color: #4d4d4d;
    font-weight: 500;
    font-size: 20px;
}

.input-name {
    margin-right: 41px;
}

.textarea {
    margin-top: 30px;
    width: 100%;
    border-radius: 15px;
    outline: none;
}

.textarea::placeholder {
    color: #4d4d4d;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0 0 20px;
}

.btn-form {
    margin-top: 38px;
    padding: 25px 80px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    transition: .2s linear;
}

.btn-form:hover {
    color: #fff;
    background-color: #00897b;
}

/* Footer */

.footer {
    padding: 20px 0;
    text-align: center;
}